.form {
	height: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: min-content;
}

.image {
	grid-area: 1 / 1 / 5 span / 1 span;
}

.image > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.main-info {
	padding: 10px;
}

.description {
	padding: 10px;
}

.filters-container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 'genres actors';
}

.genres-filters-container {
	grid-area: genres;
}

.actors-filters-container {
	grid-area: actors;
}

.buttons {
	background-color: darkred;
	grid-column: -2 / -1;
}
