<form [formGroup]="filmForm" (ngSubmit)="onSubmitForm()" class="form">
	<div class="image">
		<img src="assets/img/default.jpg" alt="image">
	</div>
	<div class="main-info">
		<div class="form-group">
			<app-title-input [control]="filmForm.get('title')"></app-title-input>

			<app-year-input [control]="filmForm.get('year')"></app-year-input>

			<app-duration-input [control]="filmForm.get('duration')"></app-duration-input>

			<ng-template ngFor let-control [ngForOf]="getFilterControls('genreIds')">
				<app-filter-input [control]="control" filterType="genres" placeholder="Жанр"></app-filter-input>
			</ng-template>

			<button class="btn btn-success" (click)="addFilterInput('genreIds')">Добавить жанр</button>
		</div>
	</div>
	<div class="description w-100 h-100">
		<label class="w-100 h-100">
			<textarea class="h-100 form-control" placeholder="Краткое описание" formControlName="description"></textarea>
		</label>
	</div>
	<div class="buttons">

	</div>
</form>
