<form [formGroup]="filmForm" (ngSubmit)="submitForm()" class="form">
	<div class="image" style="max-width: 100%">
		<app-image-input [control]="filmForm.get('uri')" style="max-width: 100%"></app-image-input>
	</div>

	<div class="form-group mb-0">
		<app-title-input [control]="filmForm.get('title')"></app-title-input>
	</div>

	<div class="form-group">
		<app-year-input
			[control]="filmForm.get('year')"
			class="d-inline-block"></app-year-input>
		<span class="mx-1"></span>

		<app-duration-input
			[control]="filmForm.get('duration')"
			class="d-inline-block"></app-duration-input>
	</div>

	<div class="filters-container form-group">

		<div class="genres-filters-container">
			<ng-container [ngTemplateOutlet]="filters"
						  [ngTemplateOutletContext]="{
							  	filter:'genreIds',
							  	placeholder: 'Жанр',
							  	buttonText: 'Добавить жанр'
							  }"></ng-container>
		</div>

		<div class="actors-filters-container">
			<ng-container [ngTemplateOutlet]="filters"
						  [ngTemplateOutletContext]="{
							  	filter:'actorIds',
							  	placeholder: 'Актёр',
							  	buttonText: 'Добавить актёра'
							  }"></ng-container>
		</div>
	</div>

	<div class="form-group">
		<app-filter-input
			[isRemovable]="false"
			placeholder="Режиссёр"
			filter="directorId"
			[control]="filmForm.get('directorId')">
		</app-filter-input>
	</div>

	<div class="description w-100 h-100">
		<label class="w-100 h-100">
			<textarea class="h-100 form-control" placeholder="Краткое описание"
					  formControlName="description"></textarea>
		</label>
	</div>


	<div>
		<ngb-rating [(rate)]="currentRate" [max]="5" class="d-inline-block" [readonly]="filmForm.disabled">
			<ng-template let-fill="fill" let-index="index">
				<span class="star"
					  [class.filled]="fill === 100"
					  [class.bad]="index < 3">&#9733;</span>
			</ng-template>
		</ngb-rating>

		<div class="buttons float-right">
			<button
				class="btn btn-success"
				type="submit"
				[class.disabled]="filmForm.disabled">Добавить</button>
		</div>
	</div>
</form>

<ng-template #filters
			 let-filter="filter"
			 let-placeholder="placeholder"
			 let-buttonText="buttonText">
	<ng-template ngFor let-control let-i="index" [ngForOf]="getFilterControls(filter)">
		<app-filter-input
			[isRemovable]="i != 0"
			[control]="control"
			[filter]="filter"
			[placeholder]="placeholder"
			(remove)="removeInput(filter, i)">
		</app-filter-input>
	</ng-template>

	<button
		*ngIf="getFilterControls(filter).length < 5"
		class="btn btn-success"
		[class.disabled]="filmForm.disabled"
		(click)="addFilterInput(filter)">
		{{buttonText}}
	</button>
</ng-template>
