<app-search-box></app-search-box>
<br>
<div *ngIf="filters">
	<span>Жанры</span>
	<div *ngFor="let filter of filters.genres" class="form-check">
		<label class="form-check-label">
			<input type="checkbox" class="form-check-input"
				   (change)="$event.target.checked
								? selectFilter('genreIds', filter.id)
								: removeFilter('genreIds', filter.id)">
			{{filter.name}}
		</label>
	</div>
	<br>
	<span>Актёры</span>
	<div *ngFor="let filter of filters.actors" class="form-check">
		<label class="form-check-label">
			<input type="checkbox" class="form-check-input"
				   (change)="$event.target.checked
								? selectFilter('actorIds', filter.id)
								: removeFilter('actorIds', filter.id)">
			{{filter.name}}
		</label>
	</div>
	<br>
	<span>Режиссёры</span>
	<div *ngFor="let filter of filters.directors" class="form-check">
		<label class="form-check-label">
			<input type="checkbox" class="form-check-input"
				   (change)="$event.target.checked
								? selectFilter('directorIds', filter.id)
								: removeFilter('directorIds', filter.id)">
			{{filter.name}}
		</label>
	</div>
</div>
